logs
data
datasets
RUNID
model_eval
Quercus_retraining
laptop_debug.sh
cluster_debug.sh
laptop_docker_test.sh
laptop_singularity_test.sh
trg-imageprocessing_master.sif
image-processing_master.sif

Dockerfile_with_Cracks
Docker_commands
TRG-process.def
*.pkl
*.pyc
*.ipynb
**.pyc
**.stdout
__pycache__/
postprocessingCracksRings_backup.py
postprocessingCracksRings_test.py
postprocessingFunctions.py
Train_onlyRing_test.sh
